extends layout

block content
	div.app
	
	script(id="listtemplate", type="text/x-handlebars")
		<a href="#" id="lekton" class="name list-group-item"> {{ name }} </a>

	script(id="listindextemplate", type="text/x-handlebars")
		<div id="todoapp" class="container-fluid center-block">
		<section id="main">
		<ul class="list-group" id="lists"></ul>
		</section>
		<footer>
		<div class="span7 text-center">
		<a href="#" class="create btn btn-default" role="button"> CREATE A LIST</a>		
		</div>
		</footer>
		</div>

	script(id="tasktemplate", type="text/x-handlebars")
		<div class="list-group-item">
		<div class="view">
		<input class="toggle" type="checkbox" {{isChecked checked}} />
		<label class="task-label lekton" {{isChecked checked}}>{{taskName}}</label>
		<a class="destroy"></a>
		</div>
		<input class="edit" type="text" value="{{taskName}}" />
		<div>

	script(id="taskcollectiontemplate", type="text/x-handlebars")
		<div id="todoapp" class="container">
		<div class="center-block">
		<header>
		<h4 class="list-title" id="title"></h4>
		<input class="edit-title" type="text" placeholder="What would you like to call this list?" />
		</br>
		<input type="text" class="form-control" id="new-todo" placeholder="What do you need to do?">
		</header>
		<section id="main">
		<ul class="list-group" id="todo-list"></ul>
		</section>
		<footer>
		<p class="help-text">Double-click an item to edit, Clear all text to delete</p>
		<a class="btn btn-default" role="button" id="save-tasks">Save</a>
		<div id="todo-count"></div>
		</footer>
		</div>
		</div>
