extends layout

block content
	h1 TODO

	div#initialContent
		= appData

	div.app
	
	script(id="listtemplate", type="text/x-handlebars")
		<a href="#" class="name"> {{ name }} </a>

	script(id="detailedlisttemplate", type="text/x-handlebars")
		<h2>{{name}}</h2>
		<p>{{id}}</p>